
@font-face {
	font-family: 'Hallo';
	src: url('Hallo.otf');
	font-weight: 300;
}

html, body {
	width: 100%;
	margin: 0;
}

body {
	font-family: 'Hallo', sans-serif;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
	display: block;
	color: #2980b9;
	width: 100%;
	padding: 0.5em 0;
	margin: 0;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
}

a:hover, a:active {
	color: #2980b9;
	text-decoration: none;
}

a#menu {
	position: absolute;
	display: inline;
	top: 0;
	left: 10px;
	color: #999;
	width: 1em;
	font-size: 1.5em;
	font-weight: 300;
	text-decoration: none;
	z-index: 100;
}

a#menu:hover, a#menu:active {
	color: #999;
	text-decoration: none;
}

h3 {
	color: #bbb;
	width: 100%;
	padding: 0.125em 0;
	margin: 0;
	background-color: #eee;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
}

h1 {
	color: #2980b9;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 5em;
	font-weight: 300;
	text-align: center;
}

h2 {
	color: #555;
	width: 100%;
	padding: 0.375em 0;
	margin: 0;
	background-color: #fff;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
}

h2.correct {
	color: #fff;
	background-color: #2ecc71;
}

h2.incorrect {
	color: #fff;
	background-color: #e74c3c;
}

section {
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	transition: top 0.125s linear;
	-webkit-transition: top 0.125s linear;
}

section.blue {
	background-color: #2980b9;
}

section.green {
	background-color: #27ae60;
}

section.red {
	background-color: #c0392b;
}

section.yellow {
	background-color: #f39c12;
}

section h4 {
	color: #fff;
	width: 100%;
	padding: 0.25em 0;
	margin: 0;
	font-size: 3em;
	font-weight: 300;
	text-align: center;
}

section.blue h4.active {
	background-color: #3498db;
}

section.green h4.active {
	background-color: #2ecc71;
}

section.red h4.active {
	background-color: #e74c3c;
}

section.yellow h4.active {
	background-color: #f1c40f;
}
